* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#playerInfo{
    grid-area: header;
}
#diceMat{
    grid-area: main;
}
#scoreCard{
    grid-area: sidebar;
}

body{
    background-color: #95E580;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: auto;
    grid-template-areas: 
        "header header ."
        "main main sidebar"
        "main main sidebar"
        "main main sidebar"
        "main main .";
    
} 

#playerInfo{
text-align: center;
}
#diceMat >div{
    display: flex;
    flex-direction: column;
}
#diceMat >#dice1{
    grid-area: dice1;
    justify-self: end;
    justify-content: end;
}
#diceMat >#dice1>p{
    /* margin-bottom: 0; */
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 50px;
}
#diceMat >#dice2{
    grid-area: dice2;
    justify-self: start;
    justify-content: end;
}
#diceMat >#dice3{
    grid-area: dice3;
    justify-self: center;
    justify-content: center;
}
#diceMat >#dice4{
    grid-area: dice4;
    justify-self: end;
    justify-content: start;
}
#diceMat >#dice5{
    grid-area: dice5;
    justify-self: start;
    justify-content: start;
}
#diceMat >span{
    grid-area: reroll;
    background-color: #0093A5;
    border-radius: 30px;
    border: 2.5px solid #00585F;
    
}
#diceMat{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". dice1 . dice2 ."
    ". . dice3 . ."
    ". dice4 . dice5 ."
    ". reroll reroll reroll .";
    text-align: center;
    background-color: darkgreen;
    border: 5px solid #003100;
    border-radius: 20px;
    
}

#diceMat >div>p{
    margin: 0;
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diceMat >span{
    place-self: center;
    max-height: 125px;
    max-width: 400px;
    min-width: 350px;
    padding: 0 5px;
}

#diceMat >span >button{
    margin: 10px 0;
    border-radius: 20px;
    /* background-color: #DFF8D5;
    border:1.5px solid #6D9062;
    need clicked color change */
}

#scoreCard{
    display: inline-flex;
    flex-direction: column;
    background-color: #74B2DF;
    border-radius: 20px;
    border: 5px solid #567B97;
    min-width: 170px;
    place-self: center;
}
#scoreCard>h3{
    text-align: center;
}
#scoreCard>button{
    margin: 10px 0;
    max-width: 100px;
    align-self: center;
    border-radius: 20px;
    background-color: #D0F5FF;
    border:2px solid #0066D3;
    /* need clicked color change */
}

.p{
    color: #BF0037;
}

.picked{
    color: #0066D3;
}
