* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
#playerInfo{
    grid-area: header;
}
#diceMat{
    grid-area: main;
}
#scoreCard{
    grid-area: sidebar;
}

body{
    background-color: #95E580;
    display: grid;
    grid-template-rows: repeat(5,1fr);
    grid-template-columns: auto;
    grid-template-areas: 
        ". header header . "
        ". main main sidebar"
        ". main main sidebar"
        ". main main sidebar"
        ". main main .";
    
} 

#playerInfo{
text-align: center;
}
#diceMat >div{
    display: flex;
    flex-direction: column;
}
#diceMat >#dice1{
    grid-area: dice1;
    justify-self: end;
    justify-content: end;
}
#diceMat >#dice1>p{
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 50px;
}
#diceMat >#dice2{
    grid-area: dice2;
    justify-self: start;
    justify-content: end;
}
#diceMat >#dice3{
    grid-area: dice3;
    justify-self: center;
    justify-content: center;
}
#diceMat >#dice4{
    grid-area: dice4;
    justify-self: end;
    justify-content: start;
}
#diceMat >#dice5{
    grid-area: dice5;
    justify-self: start;
    justify-content: start;
}
#diceMat >span{
    grid-area: reroll;
    background-color: #0093A5;
    border-radius: 30px;
    border: 2.5px solid #00585F;
    
}
#diceMat{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". dice1 . dice2 ."
    ". . dice3 . ."
    ". dice4 . dice5 ."
    ". reroll reroll reroll .";
    text-align: center;
    background-color: darkgreen;
    border: 5px solid #003100;
    border-radius: 20px;
}

#diceMat >div>p{
    margin: 0;
    border: 2px solid black;
    background-color: white;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#diceMat > span > div#rrDice1{
    grid-area: rrDice1;
}
#diceMat > span > div#rrDice2{
    grid-area: rrDice2;
}
#diceMat > span > div#rrDice3{
    grid-area: rrDice3;
}
#diceMat > span > div#rrDice4{
    grid-area: rrDice4;
}
#diceMat > span > div#rrDice5{
    grid-area: rrDice5;
}
#diceMat> span>button{
    grid-area: rerollB;
    
}
#diceMat>span>h3{
    grid-area: header;
    margin: 5px 0;
}

#diceMat >span{
    place-self: center;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-template-rows: auto;
    grid-template-areas: 
    ". header header header ."
    ". rrDice1 . rrDice2 ."
    ". . rrDice3 . ."
    ". rrDice4 . rrDice5 ."
    ". rerollB rerollB rerollB .";
    justify-items: center;
}
#diceMat >span >button{
    border-radius: 20px;
    background-color: #D0F5FF;
    border:2px solid #00585F;
    margin: 5px 0;
}
#diceMat >span >button:active{
    background-color: #B3D4EC;
    border:2px solid #00585F;
}
#diceMat >span>div{
    display: flex;
    flex-direction: column;
}


#scoreCard{
    display: inline-flex;
    flex-direction: column;
    background-color: #74B2DF;
    border-radius: 20px;
    border: 5px solid #567B97;
    min-width: 170px;
    place-self: center;
}
#scoreCard>h3{
    text-align: center;
}
#scoreCard>button{
    margin: 10px 0;
    max-width: 100px;
    align-self: center;
    border-radius: 20px;
    background-color: #D0F5FF;
    border:2px solid #567B97
}

#scoreCard>button:active{
    background-color: #B3D4EC;
    border:2px solid #567B97;
}

.gameOver{
    border: 3px solid #0066D3;
    border-radius: 20px;
}

.p{
    color: #BF0037;
}

.picked{
    color: #0066D3;
}
